@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;  
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



body{
    background: linear-gradient(45deg, #252147, #332147);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    color: #8560d6;
    font-weight: 500;
}

main { 
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}

main h1{
    color: #8560d6;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main .social-media { 
    display: flex;
    align-items: center;
}

main .social-media a{
    text-decoration: none;
}

main .social-media img{
    width: 36px;
    margin-left: 3rem;  
}

main .social-media a:first-child img{
    margin-left: 0;
}

main .alternative{
    margin-top: 1rem;
}

main .alternative span{
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: #8560d6;
}

main .alternative span::after{
    left: 50px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 1.1rem;
}

main form input {
    background-color: #191732ad;
    color: #8560d6;
    width: 300px;
    height: 35px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(16, 15, 33);
    transition: all 0.3s ease-in-out;
}

main form input[type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 2.5rem;
    border: none;
    border-radius: 32px;
    color: #8560d6;
    transition: all 0.3s ease-in-out;
}

main form input[type="submit"]:hover{
    background-color: rgb(16, 15, 33);
}

main form input:hover{
    background-color: rgb(16, 15, 33);
    letter-spacing: 0.3px;
}

section.images{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 3rem;
}

section.images img {
    width: 85%;
}

section.images .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #8560d6, #5d4394);
    clip-path: circle(35% at right 80%);
    z-index: -1;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle{
        clip-path: circle(25% at right 80%);
    }
}

@media only screen and (max-width: 900px){
    section.images {
        display: none;
        visibility: hidden;
    }

    main{
        width: 100%;
    }
}

@media only screen and (max-width: 899px){
        main{
        max-width: 100%;
    }

    main{
        justify-content: center;
    }
}